$breakpoint-tablet: 960px;
$breakpoint-mobile: 640px;

$width: 500px;
$border: #2c8898;
$bar-height: 40px;
$value-color: #333;
$value-alt-color: #f0f0f0;
$background: #f0f0f0;
$bar-fill: #96e4db;
$bar-fill-alternative: #8bb6dd;
$bar-fill-error: #b7292f;
$selected-border: #497bc5;
$selected-glow: #a1cded;
$zindex-val: 9;
$zindex-fill: 8;